body {
	background-color: white;
	text-align: center;
	font-family: verdana, serif;
}

#name{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	margin-top: -270px;
	margin-bottom: -236px;
	text-align: center;
	font-family: times;
	font-size: 100px;
	color: red;
}
